@media all and (max-width: 1200px) {

    .buttons {
        width: 40%;
    }

    .nickname {
        font-size: 70pt;
    }

    .desc {
        top: 40%;
        font-size: 30pt;
    }

}

@media all and (max-width: 850px) {

    .buttons {
        width: 75%;
    }

    .nickname {
        font-size: 70pt;
    }

    .desc {
        top: 40%;
        font-size: 30pt;
    }

}

@media all and (max-width: 500px) {

    .buttons {
        width: 100%;
    }

    .nickname {
        font-size: 70pt;
    }

    .desc {
        top: 40%;
        font-size: 30pt;
    }

}

